## {{ ansible_managed }}

[sssd]
domains = {{authconfig_domain}}
{% if authconfig_debug_mode %}
debug_level = {{ authconfig_debug_level }}
{% endif %}
services = nss, pam, ssh, sudo
config_file_version = 2

[nss]
{% if authconfig_debug_mode %}
debug_level = {{ authconfig_debug_level }}
{% endif %}
filter_users = root,daemon,bin,sys,sync,games,man,lp,mail,news,uucp,proxy,www-data,backup,nobody,syslog,sshd,vagrant,ubuntu,ansible
filter_groups = root,daemon,bin,sys,sync,games,man,lp,mail,news,uucp,proxy,www-data,backup,nobody,syslog,sshd,vagrant,ubuntu,ansible

[pam]
{% if authconfig_debug_mode %}
debug_level = {{ authconfig_debug_level }}
{% endif %}

[domain/{{ authconfig_domain }}]
{% if authconfig_debug_mode %}
debug_level = {{ authconfig_debug_level }}
{% endif %}
ad_domain = {{ authconfig_domain }}
krb5_realm = {{ authconfig_realm }}
realmd_tags = manages-system joined-with-samba 
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
fallback_homedir = /home/%u
access_provider = simple
simple_allow_groups = {{ authconfig_access_groups| join(', ') }}
simple_allow_users  = {{ authconfig_access_users | join(', ') }}
