[sssd]
domains = {{domain}}
{% if authconfig_debug_mode %}
debug_level = 3
{% endif %}
services = nss, pam
config_file_version = 2

[nss]
{% if authconfig_debug_mode %}
debug_level = 3
{% endif %}
filter_users = root,daemon,bin,sys,sync,games,man,lp,mail,news,uucp,proxy,www-data,backup,nobody,syslog,sshd,vagrant,ubuntu,ansible
filter_groups = root,daemon,bin,sys,sync,games,man,lp,mail,news,uucp,proxy,www-data,backup,nobody,syslog,sshd,vagrant,ubuntu,ansible

[pam]
{% if authconfig_debug_mode %}
debug_level = 3
{% endif %}

[domain/foobar.com]
{% if authconfig_debug_mode %}
debug_level = 3
{% endif %}
id_provider = ldap
ldap_uri = {% for s in servers %}ldap://{{s}}/{% if not loop.last %},{% endif %}{% endfor %}

ldap_schema = AD
ldap_search_base = {{basedn}}
ldap_default_bind_dn = {{ldap_bind_user}}
ldap_default_authtok = {{ldap_bind_pass}}
ldap_id_use_start_tls = true
ldap_tls_reqcert = allow

auth_provider = krb5
krb5_realm = {{realm}}
krb5_server = {{servers|join(',')}}
cache_credentials = true
